# Depending on your environment, you may comment one or more of the first 3 out
django<1.10
pillow
psycopg2

# Generally useful stuff
django-debug-toolbar
git+git://github.com/Brant/django-noodles.git@master
git+git://github.com/Brant/django-mub.git@master
markdown2
